body {
  background-color: #CECCCC;
  line-height: 1.5;
  font-size: 100%;
  color: #093824;
  margin: 0 10px;
  font-family: 'Vollkorn', Georgia, Times, serif;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
h1 {
   font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

p {
  font-size: 1em;
}

address {
  display: inline-block;
}

ul {
  list-style: none;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  color: #1B264F;
  text-decoration: none;
}

a:hover, a:focus {
  color: #274690;
}

a:visited {
  color: 576CA8;
}
