img {
  max-width: 100%;
  margin: 1rem;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
  font-family: 'Vollkorn', Georgia, Times, serif;
  background-color: #CECCCC;
  color: #093824;
  max-width: 100%;
}

hr {
  margin: 1rem;
  width: 80%;
}

section {
  padding: 0 1.2rem;
}

/*TEXT STYLES
=======================================*/
h {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
 }

h1 {
  text-align: center;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  color: #1B264F;
  text-decoration: none;
}

a:hover, a:focus {
  color: #274690;
}

a:visited {
  color: #576CA8;
}
