body {
  background-color: white;
  line-height: 1.5;
  font-size: 100%;
  color: blue;
  margin: 0 10px;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  color: darkred;
}

a:hover, a:focus {
}

a:visited {
}
