.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.heading-group-h1 {
  max-width: 80%;
  float: left;
  padding: 0 0 .2rem 1rem;
}

.main-nav {
  padding: 0.1rem;
}

.main-nav ul {
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav li {
  margin-right: .4rem;
  font-size: 1rem;
  padding: .2rem .2rem;
  border-bottom: 1px solid #ccc;
}

.template {
  display: none;
}

.byline {
  color: #093824;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}
