#filters {
  padding: 0;
  list-style: none;
}

#filters select {
  width: 90%;
  margin: .2rem 5%;
}

@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1rem .1rem .1rem 2rem;
    float: none;
  }

  #filters select {
    width: 15rem;
    margin: .2rem .2rem;
  }

  #filters li {
    width: 20rem;
    display: inline;
  }
}

@media screen
   and (min-device-width: 1200px)
   and (-webkit-min-device-pixel-ratio: 1) {

     .main-nav ul {
       display: flex;
       justify-content: space-around;
       text-align: center;
     }

     .main-nav li {
       display: inline-block;
       padding: .5rem 3rem;
       font-size: 1.5rem;
     }

     .heading-group-h1 {
       float: none;
       max-width: 100%;
       text-align: center;
     }

     section {
       padding: 0 3rem;
     }
}
