@media only screen and (min-width: 640px) {

  body {
    font-size: 120%;
  }

@media only screen and (min-width: 1200px) {

  img {
    max-width: 60%;
  }

   .main-nav ul {
     display: flex;
     justify-content: space-around;
     text-align: center;
   }

   .main-nav li {
     display: inline-block;
     padding: .5rem 3rem;
     font-size: 150%;
     border: 1px solid #1b264f;
     border-radius: 50px;
     background-color: #CECCDC;
   }

   section {
     padding: 0 3rem;
   }
}

@media only screen and (min-width: 1600px) {

   body {
     font-size: 150%;
   }
}
