#filters {
  padding: 0;
  list-style: none;
}

#filters select {
  width: 90%;
  margin: .2em 5%;
}

@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  #filters select {
    width: 15em;
    margin: .2em .2em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }
}

@media screen
   and (min-device-width: 1200px)
   and (-webkit-min-device-pixel-ratio: 1) {
    
     .main-nav ul {
       display: flex;
       justify-content: space-around;
       text-align: center;
     }
     
     .main-nav li {
       display: inline-block;
       padding: .5em 3em;
     }
     
     .heading-group-h1 {
       float: none;
       max-width: 100%;
       text-align: center;
     }
     
     section {
       padding: 0 3em;
     }
}
